
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Add User</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center" >
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form #Adduser="ngForm" (ngSubmit)="addUser()">
                            <small class="text-danger">{{msg}} </small>
                            <h3 class="text-center text-info">Add User</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username"  class="form-control" [(ngModel)]="emp.username" required #username="ngModel"
                                [class.is-invalid]="username.invalid &&username.touched"
                                >
                                <small class="text-danger" [class.d-none]="username.valid ||username.untouched">Email id is required </small>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password"  class="form-control" [(ngModel)]="emp.password" required #password="ngModel">
                                <small class="text-danger" [class.d-none]="password.valid ||password.untouched">password is required </small>
                            </div>

                            <div class="form-group">
                                <label for="empid" class="text-info">Empid:</label><br>
                                <input type="text" name="empid"  class="form-control" [(ngModel)]="emp.empid" required #empid="ngModel">
                                <small class="text-danger" [class.d-none]="empid.valid ||empid.untouched">id is required </small>
                            </div>
                            <br>
                            <div class="form-group">
                                
                                <button type="submit" name="submit" class="btn btn-info btn-md" value="submit" [disabled]="Adduser.form.invalid"> Add </button>
                             </div>
                             <small type="submit" class="text-info" [routerLink]="['/login']"> Existing User login here</small>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

